<div class="single-product">
{{#if product.images.[0]}}
<img src="/api/images/{{ product.images.0.id }}">
{{/if}}
<h2>{{ product.name }} - ${{ product.price }}</h2>
<p>Posted by {{ product.user.username }}</p>
<p>{{ product.description }}</p>
{{#if loggedIn}}
<button class="purchase-button">Purchase</button>
{{/if}}
</div>
<div class="logo"><span style="font-size:50px; font-weight:lighter; color:#1cdac7">&#8625;</span>Upcycle<span style="font-size:50px; font-weight:lighter; color:#1cdac7">&#8624;</span>
<p> The ultimate thrifting experience</p></div>

<script src="/javascript/purchase.js"></script>